@font-face {
  font-family: "Mario";
  src: url(fonts/mario.ttf) format("truetype");
}

#header {
  text-align: center;
  background-color: black;
  border-radius: 4px;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}

li {
  flex-grow: 1;
  display: inline;
  color: white;
  font-family: "Mario";
  font-size: 18px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

#press{
  color: green;
}

#gameContainer {
  background-color: #ffe135;
  width: 1000px;
  margin: auto;
}

#canvasContainer{
  position: relative;
}

#body {
  background-color: #ffe135;
}

canvas {
  border: 5px solid black;
  border-radius: 5px;
}

#menu{
  position: relative;
  display: flex;
  width: 100%;
  background-color: black;
}

#leaderboard{
  position: relative;
  top: 120%;
  left: 50%;

}

form{
  font-family: Arial;
  color: black;
  z-index: 10;
}

input{
  border-radius: 20px;
}

button{
  border-radius: 10px;
}

table, th, td {
   border: 2px solid black;
}

h1.customFont {
  font-family: "Mario";
  font-size: 80px;
  color: white;
}

#start-button{
  background-color: Green;  
}

#pause-button{
  background-color: red;
  z-index: 1;
}
