ul {
  list-style-type: none;
  width: 1000px;
  background-color: black;
  border-radius: 20px;
}

li {
  display: inline;
  padding: 14px 40px;
  color: white;
  font-family: Mario;
  font-size: 18px;
}

#press{
  color: green;
}

#background_color{
  background-color: #ffe135
}

#canvasContainer{
  position: absolute;
  top: 52%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid black; */
}


canvas {
  border: 5px solid black;
  border-radius: 5px;
}

#menu{
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#leaderboard{
  position: absolute;
  /* top: 83%; */
  top: 120%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

form{
  position: absolute;
  top: 30%;
  left: 42%;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%)
  z-index: 10;
}

input{
  border-radius: 20px;
}

button{
  border-radius: 10px;
}

table, th, td {
   border: 2px solid black;
}
